<section class="greeting">
    <h1 class="md">Welcome, {{ roles.displayName | split: " " | first }}</h1>
    <p>Welcome to the {{ roles.roleName }}'s Dashboard.
        This dashboard is specifically designed for {{ roles.displayName | split: " " | first }}, working as a {{ roles.roleName }} at CitySprout. 
        From this area you can easily keep track of your most important tasks and notifications.</p>
    
    <div class="flex-header">
        <p>Role: {{ roles.roleName }} at {{ roles.companyName }}</p>
        <p class="messages-count">{{ roles.unreadNotificationsCount }} unread messages</p>
    </div>
</section>

