{% render 'partials/head.liquid' %}

<header>
    <a href="/mechanic">
        <picture>
            <source type="image/avif" src="/assets/logo-citysprout.avif">
            <source type="image/webp" src="/assets/logo-citysprout.webp">
            <img src="/assets/logo-citysprout.png" alt="logo citysprout">
        </picture>
    </a>

    <h1 class="md">System diagnostics data</h1>
</header>

<section class="diagnostics">



    </article>
        <article>
        <h2 class="md">{{ mechanic.systemDiagnosticData }}</h2>
        <p>{{ mechanic.systemDiagnosticData.VF01-A.status }}</p>
        <p>{{ mechanic.systemDiagnosticData.VF01-A.lastCheck }}</p>
        <p>{{ mechanic.systemDiagnosticData.VF01-A.issues }}</p>
    </article>

    <article>
        <h2 class="md">{{ mechanic.systemDiagnosticData[1] }}</h2>
        <p>{{ mechanic.systemDiagnosticData.AQ02-C.status }}</p>
        <p>{{ mechanic.systemDiagnosticData.AQ02-C.lastCheck }}</p>
        <p>{{ mechanic.systemDiagnosticData.AQ02-C.issues }}</p>
        <p>{{ mechanic.systemDiagnosticData.AQ02-C.details }}</p>

    </article>

    <article>
        <h2 class="md">{{ mechanic.systemDiagnosticData[1] }}</h2>
        <p>{{ mechanic.systemDiagnosticData.VF02-B.status }}</p>
        <p>{{ mechanic.systemDiagnosticData.VF02-B.lastCheck }}</p>
        <p>{{ mechanic.systemDiagnosticData.VF02-B.issues }}</p>
        <p>{{ mechanic.systemDiagnosticData.VF02-B.details }}</p>
    </article>

<pre>{{ mechanic.systemDiagnosticData | json:4 }}</pre>

    
</section>